@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  font-family: "Roboto Flex", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}

.hero-portada {
  height: 50vh;
  width: 100%;
  overflow: hidden;
}
.hero-portada-deck {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.hero-portada img {
  object-fit: cover;
  width: 100%;
}
.hero-full {
  z-index: 1;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0));
  display: flex;
  flex-direction: column;
  color: white;
  overflow: hidden;
  position: relative;
  top: 0px;
  left: 0px;
}
.hero-full p {
  margin-top: 30px;
}
.hero-producto {
  position: relative;
  top: -200px !important;
  margin-top: 30px !important;
}

.producto-descripcion {
  box-shadow: 5px 5px 10px #9d9d9c;
  height: auto;
  border: 1px solid #9d9d9c;
  background-color: #ffffff;
  padding: 2%;
  border-radius: 5px;
}
.producto-descripcion h2 {
  font-weight: bolder !important;
  color: #0485a7 !important;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}
.producto-color {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 100%;
  display: flex;
}
.producto-color img {
  width: 100%;
  height: 100%;
}
.producto-color-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.producto-color-div p {
  text-align: center !important;
  font-size: 14px !important;
  padding-top: 5px;
}
@media (min-width: 0px) {
  .producto-picture {
    width: 100%;
    height: auto;
  }
}
@media (min-width: 992px) {
  .producto-picture {
    width: 50%;
    height: auto;
  }
}
.producto-picture img {
  width: 100%;
  height: auto;
}
.producto-colores {
  height: 30%;
  width: 100%;
  height: 100%;
}
.producto-cotizador {
  box-shadow: 5px 5px 10px #9d9d9c;
  height: auto;
  border: 1px solid #9d9d9c;
  width: 100%;
  background-color: #f4f4f4;
  padding: 5%;
  border-radius: 5px;
}
.producto-cotizador h2 {
  color: #0485a7 !important;
}
.producto-cotizador div {
  margin-top: 10px;
}
.producto-cotizador input {
  height: 40px;
}

.cantidadProducto a {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 18px;
  padding-left: 18px;
  background-color: #0485a7;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
  color: #ffffff !important;
  font-size: 16px !important;
  font-weight: bolder !important;
}
.cantidadProducto a:hover {
  background-color: #005168;
}
.cantidadProducto input {
  width: 60px;
  text-align: center;
}

#seccionInformacionAdicional {
  margin-top: -200px;
  margin-bottom: 50px;
}

.navbar {
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95));
  z-index: 2;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
}
.navbar-toggler {
  border: #0485a7 2px solid;
  color: rgba(0, 0, 255, 0);
}
.navbar svg {
  width: 40px;
  height: 40px;
  fill: #0485a7;
  stroke: #0485a7;
}
.navbar:focus {
  background-color: #0485a7;
  box-shadow: none !important;
}
.nav-item {
  margin-left: 10px;
  margin-right: 10px;
}
.nav-link {
  font-size: 18px;
  color: #0485a7;
  text-decoration: none;
  text-align: center;
}

.quote {
  font-size: 18px;
  color: #0485a7;
  text-decoration: none;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  font-family: "Ubuntu", sans-serif;
  border: 2px #0485a7 solid !important;
  cursor: pointer;
}
.quote:hover {
  background-color: #0485a7;
  color: #ffffff;
}

.container-subhero {
  width: 100%;
  height: 100vh;
  background-image: url("../images/background/deck-colores.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.products-title {
  z-index: 5;
  position: absolute;
  top: 80vh;
  color: #ffffff;
  font-weight: lighter;
  font-size: 20px;
  width: 100%;
  height: auto;
}
.products-title p a {
  background-color: black;
  text-decoration: none;
  padding: 10px;
  opacity: 0.5;
  border-radius: 5px;
  color: #ffffff !important;
}
.products-title img {
  width: 30px;
  height: auto;
  animation: bounce 2s ease-in-out infinite;
}

.specs-container {
  padding: 10px;
}
.specs-item {
  display: flex;
  flex-direction: column;
}
.specs-item-icon {
  height: 100px;
  width: auto;
  margin-bottom: 10px;
}
.specs-detail {
  background-color: #ffffff !important;
  color: #0485a7;
}
.specs-detail-title h2 {
  color: #0485a7;
  margin-top: 40px;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0); /* Inicial y final: sin cambio en la posición vertical */
  }
  50% {
    transform: translateY(-20px); /* Punto más alto: sube 20px */
  }
}
section {
  width: 100%;
  height: auto;
  padding: 2%;
}

.row {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0px;
}
.row p {
  text-align: justify;
  text-justify: inter-word;
}

.section-specs-detail {
  background-color: #f4f4f4;
}

.section-diseno {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("../images/background/diseno.webp");
  background-position: center;
  height: auto !important;
  overflow: hidden;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff !important;
}
.section-diseno p {
  margin-top: 40px;
}
.section-diseno input {
  width: 100%;
}

.section-final {
  height: auto;
  padding: 3%;
}
.section-final img {
  height: 100px;
  width: auto;
}
.section-final h4 {
  margin-top: 20px !important;
  text-align: center !important;
  margin-bottom: 40px;
}

.caracteristicas {
  padding-top: 3%;
  padding-bottom: 6%;
}

.sello-calidad {
  text-align: center;
  height: 0px !important;
}
.sello-calidad img {
  height: 250px;
  width: auto;
  position: relative;
  top: -90px;
}

footer {
  background-color: #0485a7;
  height: auto;
  min-height: 30vh;
  padding: 3%;
  padding-bottom: 50px !important;
  color: #ffffff !important;
}
footer img {
  height: 120px;
}
footer h4 {
  text-decoration: underline;
}

/* Para dispositivos pequeños (small) */
@media (min-width: 0px) {
  .footer-margin {
    margin-top: 100px !important;
  }
  .footer-margin h4 {
    margin-top: -60px !important;
  }
}
/* Para dispositivos medianos (medium) */
@media (min-width: 992px) {
  .footer-margin {
    margin-top: 20px !important;
  }
  .footer-margin h4 {
    margin-top: 0px !important;
  }
}
.logo-index {
  width: 180px;
  height: auto;
  margin-bottom: 20px;
}
.logo-index-div {
  width: 100%;
  height: auto;
  text-align: center;
}
.logo-isotipoNav {
  width: auto;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
}
.logo-nombreNav {
  width: auto;
  height: 46px;
  margin-top: 10px;
  margin-bottom: 3px;
}

.card {
  margin-top: 30px;
  border-radius: 5px !important;
  overflow: hidden;
}
.card-product {
  overflow: hidden;
}
.card-product-image {
  height: 200px;
  overflow: hidden;
}
.card-product-image img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.card-product-image-type {
  position: relative;
  top: -50px;
  padding: 5px;
  padding: 10px;
}
.card-product-image-type span {
  color: #0485a7;
  padding: 5px;
  background-color: #ffffff;
  border: 1px #ffffff solid;
  font-family: "Ubuntu", sans-serif;
  border-radius: 5px;
}
.card-product-detail {
  padding: 10px;
}
.card-product-detail-title {
  height: 25px;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: bolder;
}
.card-product-detail-description {
  height: 110px;
  overflow: scroll;
}
.card-product-detail-button {
  display: flex;
  justify-content: space-between;
}
.card-product-detail-button a {
  padding-top: 10px;
  color: #9d9d9c;
}

.btnCotizarProducto {
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  background-color: #0485a7;
  color: #ffffff !important;
}

.colors svg {
  width: 25px;
  height: 30px;
}

.cafeoscuro {
  fill: #635147;
}

.gris {
  fill: #756f72;
}

.grisclaro {
  fill: #756f72;
}

.cafecaoba {
  fill: #c68e7c;
}

.marronoscuro {
  fill: #8e622e;
}

.marron {
  fill: #a49586;
}

.negro {
  fill: #2d2d2d;
}

.marronclaro {
  fill: #e7cd94;
}

.formulario {
  background-color: rgba(0, 0, 0, 0.473);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.formulario p {
  margin: 0px !important;
}
.formulario h3 {
  padding: 0px !important;
}

.btnDiseno {
  font-size: 18px;
  color: #0485a7;
  text-decoration: none;
  padding: 10px;
  background-color: #0485a7;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  border: 2px #0485a7 solid !important;
  cursor: pointer;
}
.btnDiseno:hover {
  background-color: #005168;
  color: #ffffff;
}

.boton-index-a {
  font-size: 20px;
  color: #0485a7;
  text-decoration: none;
  background-color: #ffffff;
  font-family: "Ubuntu", sans-serif;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}
.boton-index-a:hover {
  color: #ffffff;
  background-color: #0485a7;
}
.boton-index-div {
  height: 50px;
}

#masCantidadCotizador {
  cursor: pointer;
}

#menosCantidadCotizador {
  cursor: pointer;
}

.card-productos-cotizacion {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #9d9d9c;
  margin-bottom: 10px;
  cursor: pointer;
}
.card-productos-cotizacion:hover {
  border: 2px solid #0485a7;
  background-color: #f4f4f4;
}

.image-cotizacion img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.carousel {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
}
.carousel-inner {
  background-color: black;
}
.carousel-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  top: 0px;
  left: 0px;
}

.slogan {
  font-size: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

h2 {
  font-weight: lighter;
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 40px;
  font-family: "Ubuntu", sans-serif;
}

.typed {
  font-weight: bolder;
  font-size: 36px;
  margin-bottom: 40px;
  font-family: "Ubuntu", sans-serif;
}
.typed-word {
  background-color: #ffffff;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  color: #0485a7;
  font-weight: bolder;
}

h1 {
  font-size: 11px;
  color: #9d9d9c;
  font-family: "Ubuntu", sans-serif;
}

h3 {
  font-size: 36px;
  padding-top: 40px;
  font-family: "Ubuntu", sans-serif;
}

h4 {
  font-size: 16px;
  font-family: "Ubuntu", sans-serif;
}

.precio-cotizacion {
  font-size: 50px;
}

.accordion {
  padding-top: 40px;
}
.accordion-item {
  background-color: none;
}
.accordion-button {
  background-color: #f4f4f4;
  color: #000000;
  border: #0485a7;
  font-weight: bold;
}
.accordion-button:focus {
  background-color: #0485a7;
  border: #0485a7;
}
.accordion-button:active {
  background-color: #0485a7;
  border: #0485a7;
}
.accordion-button:not(.collapsed) {
  background-color: #0485a7;
  color: #ffffff;
  border: #0485a7;
}
.accordion-button:not(.collapsed)::after {
  color: #ffffff;
  background-image: url("../images/icons/specs/arrow.svg");
}
.accordion-button::after {
  background-image: url("../images/icons/specs/arrow.svg");
}

/*# sourceMappingURL=styles.css.map */
