$white_color: #ffffff;
$blue_color: #0485a7;
$blue_dark_color: #005168;
$gray_color: #9d9d9c;
$black_color: #000000;
$gray_light_color: #f4f4f4;

$product_color_cafeoscuro: #635147;
$product_color_gris: #756f72;
$product_color_grisclaro: #756f72;
$product_color_cafecaoba: #c68e7c;
$product_color_marronoscuro: #8e622e;
$product_color_negro: #2d2d2d;
$product_color_marron: #a49586;
$product_color_marronclaro: #e7cd94;
