.boton {
  &-index {
    &-a {
      font-size: 20px;
      color: $title_color;
      text-decoration: none;
      background-color: $primary_color_light;
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      &:hover {
        color: $primary_color_light;
        background-color: $title_color;
      }
    }
    &-div {
      height: 50px;
    }
  }
}
