.boton {
  &-index {
    &-a {
      font-size: 20px;
      color: $blue_color;
      text-decoration: none;
      background-color: $white_color;
      @include ubuntu();
      padding: 10px;

      border-radius: 5px;
      text-align: center;

      &:hover {
        color: $white_color;
        background-color: $blue_color;
      }
    }
    &-div {
      height: 50px;
    }
  }
}

#masCantidadCotizador {
  cursor: pointer;
}

#menosCantidadCotizador {
  cursor: pointer;
}
.btn-primary {
  background-color: $blue_color !important;
  color: $white_color !important;
  &:hover {
    background-color: $blue_dark_color !important;
  }
}

.btn-whatsapp {
  background-color: #4bc359 !important;
  color: $white_color !important;
  &:hover {
    background-color: #2c7a35 !important;
  }
}
