.formulario {
  background-color: rgba(255, 255, 255, 0.195);
  padding: 20px;
  border-radius: 5px;
  border: 1px solid $white_color;
  & p {
    margin: 0px !important;
  }
}

.btnDiseno {
  @include navlinksitems();
  padding: 10px;
  background-color: $blue_color;
  border-radius: 5px;
  color: $white_color;
  @include ubuntu();
  border: 2px $blue_color solid !important;
  cursor: pointer;
  &:hover {
    background-color: $blue_dark_color;
    color: $white_color;
  }
}
