.container {
  &-subhero {
    @include sizes(100%, 100vh);
    background-image: url("../images/background/deck-colores.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
}
.specs {
  z-index: 2;
  @include sizes(100%, 500px);
  position: absolute;
  top: 100vh;
  left: 0px;

  &-title {
    z-index: 3;
    position: absolute;
    top: 80vh;
    color: $white_color;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 40px;
    @include sizes(100%, auto);
    & p span {
      background-color: black;
      padding: 10px;
      opacity: 0.5;
      border-radius: 5px;
    }
    & img {
      @include sizes(30px, auto);
      animation: bounce 2s ease-in-out infinite;
    }
  }
  &-detail {
    // @include sizes(100%, 100%);
    background-color: $blue_color !important;
    color: $white_color;

    &-item {
      padding: 30px;
      text-align: center;
      @include sizes(50%, 100%);

      & img {
        @include sizes(80px, auto);
      }
    }
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(
      0
    ); /* Inicial y final: sin cambio en la posición vertical */
  }
  50% {
    transform: translateY(-20px); /* Punto más alto: sube 20px */
  }
}

.sello-calidad {
  z-index: 2;
  position: absolute;
  top: 70vh;
  left: 20px;
  & img {
    @include sizes(150px, auto);
  }
}
