.hero {
  &-full {
    z-index: 1;
    @include sizes(100%, 100vh);
    background-image: radial-gradient(
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0)
    );
    display: flex;
    flex-direction: column;
    color: white;
    overflow: hidden;
    position: relative;
    top: 0px;
    left: 0px;
    & p {
      margin-top: 30px;
    }
  }
}
